.adv-form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.adv-form-header {
    display: flex;
    height: 30px;
    background-color: #007dc7;
    color: #ffffff;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-between;
}
.adv-form-header > .go-back {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}
.adv-form-title-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #092f52;
    color: #ffffff;
    padding: 20px 20px 10px;
}
.adv-form-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 20px;
    background-color: #ffffff;
    color: #092f52;
    padding: 3px 3px 3px 10px;
    cursor: pointer;
    outline: none;
}
.adv-form-search:active {
    border: none;
    outline: none;
}
.adv-form-titlebar {
    font-size: 18px;
    font-weight: 600;
}
.form-container {
    background-color: #e5e5e5;
}
.adv-form-content {
    display: flex;
    flex-direction: column;
}
.adv-form-basic-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px;
    background-color: #ffffff;
    margin: -20px 20px 15px;
    border-radius: 6px;
}
.adv-form-basic-content-title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}
.basic-multi-select {
    width: 75%;
}
.tag-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}
.tag-container > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #464e5f;
}
.adv-form-basic-content-container {
    display: flex;
}
.type-request-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.type-of-request {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: #464e5f;
    font-weight: 600;
}
.type-request {
    display: flex;
    align-items: center;
}
.type-request > input {
    margin-right: 10px;
    cursor: pointer;
}
.type-request > label {
    margin-right: 20px;
    cursor: pointer;
}
.adv-form-content-row-1,
.adv-form-content-row-2 {
    display: flex;
    padding: 0 20px;
    margin: 0 0 15px;
    border-radius: 6px;
    color: #464e5f;
}
.adv-form-content-row-2 {
    margin-bottom: 40px;
}
.form-content-box {
    background-color: #ffffff;
    width: 33%;
    margin-right: 20px;
    border-radius: 6px;
    height: 250px;
    padding: 20px;
}
.form-content-box:last-child {
    margin-right: 0px;
}
form > button[type='submit'] {
    margin-bottom: 40px;
    width: 200px;
    font-size: 16px;
    text-transform: capitalize;
    padding: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    background-color: #0066a1;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
}
.date-picker-container,
.req-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.priority-selection-container,
.key-impact-container,
.description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}
.priority-value-container,
.impact-value-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}
.priority-value-container > div,
.impact-value-container > div {
    margin-bottom: 10px;
}
.priority-value-container > div > input,
.impact-value-container > div > input {
    margin-right: 10px;
    cursor: pointer;
}
.priority-value-container > div > label,
.impact-value-container > div > label {
    cursor: pointer;
}
.date-picker-label,
.priority-label,
.language-label,
.key-impact-label,
.description-label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}
.custom-date-picker {
    width: calc(100% - 20px);
    height: 30px;
    padding-left: 20px;
    outline: none;
}
.datepicker-container {
    width: 100%;
    display: flex;
}
.react-datepicker-wrapper {
    width: 95%;
}
.req-info-select {
    height: 30px;
    width: 95%;
    margin-bottom: 20px;
}
.req-info-select .css-1uccc91-singleValue {
    color: #464e5f;
    font-size: 14px;
}
.key-impact-container, .description-container {
    margin-top: 0;
}
.description-container > input {
    margin-top: 10px;
    height: 200px;
    width: calc(100% - 20px);
}